.red {
  color: #B8001F;
}
.orange {
  color: #CC3600;
}
.gold {
  color: #CC8B00;
}
.yellow {
  color: #CCAC2B;
}
.lime {
  color: #73AD34;
}
.green {
  color: #349E48;
}
.cyan {
  color: #0AA18F;
}
.teal {
  color: #007373;
}
.lblue {
  color: #005BA1;
}
.blue {
  color: #014980;
}
.purple {
  color: #5A74CC;
}
.pink {
  color: #CC5289;
}
.brown {
  color: #6B6031;
}
.bryl {
  color: #AB912B;
}
.white {
  color: #EDEFF1;
}
.gray {
  color: #BBBDBF;
}
.glow-red {
  text-shadow: 0 0 2px #EA0027;
  color: #EA0027;
}
.glow-orange {
  text-shadow: 0 0 2px #FF4500;
  color: #FF4500;
}
.glow-gold {
  text-shadow: 0 0 2px #FFB000;
  color: #FFB000;
}
.glow-yellow {
  text-shadow: 0 0 2px #FFD635;
  color: #FFD635;
}
.glow-lime {
  text-shadow: 0 0 2px #94E044;
  color: #94E044;
}
.glow-green {
  text-shadow: 0 0 2px #46D160;
  color: #46D160;
}
.glow-cyan {
  text-shadow: 0 0 2px #0DD3BB;
  color: #0DD3BB;
}
.glow-teal {
  text-shadow: 0 0 2px #00A6A5;
  color: #00A6A5;
}
.glow-lblue {
  text-shadow: 0 0 2px #0266B3;
  color: #0079D3;
}
.glow-blue {
  text-shadow: 0 0 2px #0266B3;
  color: #0266B3;
}
.glow-purple {
  text-shadow: 0 0 2px #7193FF;
  color: #7193FF;
}
.glow-pink {
  text-shadow: 0 0 2px #FF66AC;
  color: #FF66AC;
}
.glow-brown {
  text-shadow: 0 0 2px #9E8D49;
  color: #9E8D49;
}
.glow-bryl {
  text-shadow: 0 0 2px #DDBD37;
  color: #DDBD37;
}
.glow {
  text-shadow: 0 0 2px #646D73;
  color: #373C3F;
}
.glow-gray {
  text-shadow: 0 0 2px #BBBDBF;
  color: #BBBDBF;
}
