@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);
.red {
  color: #B8001F;
}
.orange {
  color: #CC3600;
}
.gold {
  color: #CC8B00;
}
.yellow {
  color: #CCAC2B;
}
.lime {
  color: #73AD34;
}
.green {
  color: #349E48;
}
.cyan {
  color: #0AA18F;
}
.teal {
  color: #007373;
}
.lblue {
  color: #005BA1;
}
.blue {
  color: #014980;
}
.purple {
  color: #5A74CC;
}
.pink {
  color: #CC5289;
}
.brown {
  color: #6B6031;
}
.bryl {
  color: #AB912B;
}
.white {
  color: #EDEFF1;
}
.gray {
  color: #BBBDBF;
}
.glow-red {
  text-shadow: 0 0 2px #EA0027;
  color: #EA0027;
}
.glow-orange {
  text-shadow: 0 0 2px #FF4500;
  color: #FF4500;
}
.glow-gold {
  text-shadow: 0 0 2px #FFB000;
  color: #FFB000;
}
.glow-yellow {
  text-shadow: 0 0 2px #FFD635;
  color: #FFD635;
}
.glow-lime {
  text-shadow: 0 0 2px #94E044;
  color: #94E044;
}
.glow-green {
  text-shadow: 0 0 2px #46D160;
  color: #46D160;
}
.glow-cyan {
  text-shadow: 0 0 2px #0DD3BB;
  color: #0DD3BB;
}
.glow-teal {
  text-shadow: 0 0 2px #00A6A5;
  color: #00A6A5;
}
.glow-lblue {
  text-shadow: 0 0 2px #0266B3;
  color: #0079D3;
}
.glow-blue {
  text-shadow: 0 0 2px #0266B3;
  color: #0266B3;
}
.glow-purple {
  text-shadow: 0 0 2px #7193FF;
  color: #7193FF;
}
.glow-pink {
  text-shadow: 0 0 2px #FF66AC;
  color: #FF66AC;
}
.glow-brown {
  text-shadow: 0 0 2px #9E8D49;
  color: #9E8D49;
}
.glow-bryl {
  text-shadow: 0 0 2px #DDBD37;
  color: #DDBD37;
}
.glow {
  text-shadow: 0 0 2px #BBBDBF;
  color: #EDEFF1;
}
.glow-gray {
  text-shadow: 0 0 2px #373C3F;
  color: #646D73;
}
body {
  font-family: 'Fira Code', 'Cascadia Code', 'Fira Mono', monospace;
  font-feature-settings: "ss01", "ss02", "ss04", "ss06", "zero", "onum";
  background-color: #EDEFF1;
  color: #373C3F;
}
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before,
h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
  color: #BBBDBF;
}
h1,
h2,
h3 {
  color: #646D73;
}
h4,
h5,
h6 {
  color: #BBBDBF;
}
strong,
.b {
  font-weight: 700;
  color: #94E044;
}
em,
.i {
  font-style: italic;
  color: #7193FF;
}
.u {
  text-decoration: underline;
}
strike,
.s {
  text-decoration: line-through;
  color: #B8001F;
}
ul.cats > li {
  list-style: '⟾ ';
}
ul > li {
  list-style: circle;
}
.home {
  color: #BBBDBF;
  font-size: small;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:visited {
  font-style: italic;
}
warn {
  color: #B8001F;
  font-weight: 700;
}
warn::before {
  content: "ATTENZIONE: ";
  animation: 5s linear infinite condemned_blink_effect;
}
code {
  background-color: #BBBDBF;
  border-radius: 3px;
  border: 1px solid #646D73;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #373C3F;
  display: inline-block;
  font-size: 0.85em;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
info {
  color: #0079D3;
}
info::before {
  content: "ℹ: ";
}
