@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);
@red:					#EA0027;
@dred:				#B8001F;
@orange:			#FF4500;
@dorange:			#CC3600;
@gold:				#FFB000;
@dgold:				#CC8B00;
@yellow:			#FFD635;
@dyellow:			#CCAC2B;
@lime:				#94E044;
@dlime:				#73AD34;
@green:				#46D160;
@dgreen:			#349E48;
@cyan:				#0DD3BB;
@dcyan:				#0AA18F;
@teal:				#00A6A5;
@dteal:				#007373;
@lblue:				#0079D3;
@mblue:				#005BA1;
@blue:				#0266B3;
@dblue:				#014980;
@purple:			#7193FF;
@dpurple:			#5A74CC;
@pink:				#FF66AC;
@dpink:				#CC5289;
@brown:				#9E8D49;
@dbrown:			#6B6031;
@bryl:				#DDBD37;
@dbryl:				#AB912B;
@white:				#EDEFF1;
@black:				#373C3F;
@gray:				#BBBDBF;
@dgray:				#646D73;

body {
	font-family: 'Fira Code', 'Cascadia Code', 'Fira Mono', monospace;
	font-feature-settings: "ss01", "ss02", "ss04", "ss06", "zero", "onum";
	background-color: @black;
	color: @white;
}

a:link {
	color: @cyan;
}

a:visited {
	color: @purple;
}

a:link:hover {
	color: @dcyan;
}

a:visited:hover {
	color: @dpurple;
}