@import '_base';

.red						{color:		@dred}
.orange					{color:		@dorange}
.gold						{color:		@dgold}
.yellow					{color:		@dyellow}
.lime						{color:		@dlime}
.green					{color:		@dgreen}
.cyan						{color:		@dcyan}
.teal						{color:		@dteal}
.lblue					{color:		@mblue}
.blue						{color:		@dblue}
.purple					{color:		@dpurple}
.pink						{color:		@dpink}
.brown					{color:		@dbrown}
.bryl						{color:		@dbryl}
.white					{color:		@white}
.gray						{color:		@gray}
.glow-red 			{text-shadow: 0 0 2px @red;				color: @red}
.glow-orange 		{text-shadow: 0 0 2px @orange;		color: @orange}
.glow-gold 			{text-shadow: 0 0 2px @gold;			color: @gold}
.glow-yellow		{text-shadow: 0 0 2px @yellow;		color: @yellow}
.glow-lime			{text-shadow: 0 0 2px @lime;			color: @lime}
.glow-green			{text-shadow: 0 0 2px @green;			color: @green}
.glow-cyan			{text-shadow: 0 0 2px @cyan;			color: @cyan}
.glow-teal			{text-shadow: 0 0 2px @teal;			color: @teal}
.glow-lblue			{text-shadow: 0 0 2px @blue;			color: @lblue}
.glow-blue			{text-shadow: 0 0 2px @blue;			color: @blue}
.glow-purple		{text-shadow: 0 0 2px @purple;		color: @purple}
.glow-pink			{text-shadow: 0 0 2px @pink;			color: @pink}
.glow-brown			{text-shadow: 0 0 2px @brown;			color: @brown}
.glow-bryl			{text-shadow: 0 0 2px @bryl;			color: @bryl}
.glow						{text-shadow: 0 0 2px @gray;			color: @white}
.glow-gray			{text-shadow: 0 0 2px @black;			color: @dgray}