@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);
@import "_colors";

body {
	font-family: 'Fira Code', 'Cascadia Code', 'Fira Mono', monospace;
	font-feature-settings: "ss01", "ss02", "ss04", "ss06", "zero", "onum";
	background-color: @white;
	color: @black;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before, h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
	color: @gray;
}

h1, h2, h3 {
	color: @dgray;
}

h4, h5, h6 {
	color: @gray;
}

strong, .b {
	font-weight: 700;
	color: @lime;
}

em, .i {
	font-style: italic;
	color: @purple;
}

.u {
	text-decoration: underline;
}

strike /* You shouldn't use strike. Will use .s. */, .s {
	text-decoration: line-through;
	color: @dred;
}

ul.cats > li {
	list-style: '⟾ ';
}

ul > li {
	list-style: circle;
}

.home {
	color: @gray;
	font-size: small;
}

a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

a:visited {
	font-style: italic;
}

warn {
	color: @dred;
	font-weight: 700;
}

warn::before {
	content: "ATTENZIONE: ";
	animation: 5s linear infinite condemned_blink_effect;
}

code {
	background-color: @gray;
	border-radius: 3px;
	border: 1px solid @dgray;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
	color: @black;
	display: inline-block;
	font-size: .85em;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}

info {
	color: @lblue
}

info::before {
	content: "ℹ: ";
}