@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);
body {
  font-family: 'Fira Code', 'Cascadia Code', 'Fira Mono', monospace;
  font-feature-settings: "ss01", "ss02", "ss04", "ss06", "zero", "onum";
}
a:link {
  color: #0DD3BB;
}
a:visited {
  color: #7193FF;
}
a:link:hover {
  color: #0AA18F;
}
a:visited:hover {
  color: #5A74CC;
}
strong,
.b {
  font-weight: 700;
  color: #94E044;
}
em,
.i {
  font-style: italic;
  color: #7193FF;
}
code,
pre {
  border: 1px dotted #BBBDBF;
}
.u {
  text-decoration: underline;
}
strike,
.s {
  text-decoration: line-through;
  color: #B8001F;
  text-decoration-style: double;
}
ul li {
  list-style: '⟾ ';
}
ol li {
  list-style: lower-roman;
}
.red {
  color: #EA0027;
}
.dred {
  background-color: #B8001F;
}
.orange {
  color: #FF4500;
}
.dorange {
  background-color: #CC3600;
}
.gold {
  color: #FFB000;
}
.dgold {
  background-color: #CC8B00;
}
.yellow {
  color: #FFD635;
}
.dyellow {
  background-color: #CCAC2B;
}
.lime {
  color: #94E044;
}
.dlime {
  background-color: #73AD34;
}
.green {
  color: #46D160;
}
.dgreen {
  background-color: #349E48;
}
.cyan {
  color: #0DD3BB;
}
.dcyan {
  background-color: #0AA18F;
}
.teal {
  color: #00A6A5;
}
.dteal {
  background-color: #007373;
}
.lblue {
  color: #0079D3;
}
.mblue {
  background-color: #005BA1;
}
.blue {
  color: #0266B3;
}
.dblue {
  background-color: #014980;
}
.purple {
  color: #7193FF;
}
.dpurple {
  background-color: #5A74CC;
}
.pink {
  color: #FF66AC;
}
.dpink {
  background-color: #CC5289;
}
.brown {
  color: #9E8D49;
}
.dbrown {
  background-color: #6B6031;
}
.bryl {
  color: #DDBD37;
}
.dbryl {
  background-color: #AB912B;
}
.white {
  color: #EDEFF1;
}
.black {
  background-color: #373C3F;
}
.gray {
  color: #BBBDBF;
}
.dgray {
  background-color: #BBBDBF;
}
.glow-red {
  text-shadow: 0 0 5px #B8001F;
  color: #EA0027;
}
.glow-orange {
  text-shadow: 0 0 5px #CC3600;
  color: #FF4500;
}
.glow-gold {
  text-shadow: 0 0 5px #CC8B00;
  color: #FFB000;
}
.glow-yellow {
  text-shadow: 0 0 5px #CCAC2B;
  color: #FFD635;
}
.glow-lime {
  text-shadow: 0 0 5px #73AD34;
  color: #94E044;
}
.glow-green {
  text-shadow: 0 0 5px #349E48;
  color: #46D160;
}
.glow-cyan {
  text-shadow: 0 0 5px #0AA18F;
  color: #0DD3BB;
}
.glow-teal {
  text-shadow: 0 0 5px #007373;
  color: #00A6A5;
}
.glow-lblue {
  text-shadow: 0 0 5px #005BA1;
  color: #0079D3;
}
.glow-blue {
  text-shadow: 0 0 5px #014980;
  color: #0266B3;
}
.glow-purple {
  text-shadow: 0 0 5px #5A74CC;
  color: #7193FF;
}
.glow-pink {
  text-shadow: 0 0 5px #CC5289;
  color: #FF66AC;
}
.glow-brown {
  text-shadow: 0 0 5px #6B6031;
  color: #9E8D49;
}
.glow-bryl {
  text-shadow: 0 0 5px #AB912B;
  color: #DDBD37;
}
.glow {
  text-shadow: 0 0 5px #BBBDBF;
  color: #EDEFF1;
}
.glow-gray {
  text-shadow: 0 0 5px #373C3F;
  color: #646D73;
}
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before,
h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
  color: #646D73;
}
h1,
h2,
h3 {
  color: #BBBDBF;
}
h4,
h5,
h6 {
  color: #646D73;
}
body {
  background-color: #373C3F;
  color: #EDEFF1;
}
